@{
	ViewBag.Title = "AdminIntro";
	///This lists a couple of privaleges that the Admin has to edit data in the database
	///This links to the Volunteer, VolunteerGroup, and Kiosk controllers
	///This page can be further enhanced for future development

	var appAdmin = App.Admin;
	if (App.Admin != 1)
	{
		Response.Redirect("~/UserLogIn/Index");
	}
}

<h2 class="jumbotron text-center">Welcome</h2>
<br /><br />
You have access to the following pages.
<br /><br />
<div class="list-group">
	@*@if (appAdmin == 1)
	{
		<a href="@Url.Action("Create", "Volunteer")" class="list-group-item">Create New User</a>
		<a href="@Url.Action("Index", "Volunteer")" class="list-group-item">Update User Information</a>
	}*@
	<a href="@Url.Action("Create", "Volunteer")" class="list-group-item">Create New Volunteer</a>
	<a href="@Url.Action("Create", "VolunteerGroup")" class="list-group-item">Create New Volunteer Group</a>
	<a href="@Url.Action("VolunteerSearch", "Volunteer")" class="list-group-item">Volunteer Search</a>
	<a href="@Url.Action("Index", "Report")" class="list-group-item">Database Reports</a>
	<a href="@Url.Action("LocationSelection", "Kiosk")" class="list-group-item">Kiosk Intro Page</a>
</div>