@model CCSVolunteerMVC.Models.Volunteer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Volunteer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.volunteerID)

        <div class="form-group">
            @Html.LabelFor(model => model.volFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volDOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.volDOB, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.TextBoxFor(model => model.volDOB, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.volDOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volPin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volPin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volPin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volGender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volGender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volGender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volJoinDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.volJoinDate, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.TextBoxFor(model => model.volJoinDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.volJoinDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volsCourtOrdered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.volsCourtOrdered, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.volsCourtOrdered, new List<SelectListItem> {
					new SelectListItem() { Text = "Yes", Value = "1" },
					new SelectListItem() { Text = "No", Value = "0" }
				})
                @Html.ValidationMessageFor(model => model.volsCourtOrdered, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ethnicityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ethnicityID, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.ethnicityID, new List<SelectListItem> {
					new SelectListItem() { Text = "Other", Value = "1" },
					new SelectListItem() { Text = "White", Value = "2" },
					new SelectListItem() { Text = "Black or African-American", Value="3" },
					new SelectListItem() { Text = "Asian", Value = "4" },
					new SelectListItem() { Text = "Hispanic", Value = "5" },
					new SelectListItem() { Text = "American Indian or Alaskan Native" },
					new SelectListItem() { Text = "Native Hawaiian or Pacific Islander", Value = "7" }
				})
                @Html.ValidationMessageFor(model => model.ethnicityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volsClient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.volsClient, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.volsClient, new List<SelectListItem> {
					new SelectListItem() { Text = "Yes", Value = "1" },
					new SelectListItem() { Text = "No", Value = "0" }
				})
                @Html.ValidationMessageFor(model => model.volsClient, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.volsActive, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.DropDownListFor(model => model.volsActive, new List<SelectListItem> {
					new SelectListItem() { Text = "Yes", Value = "1" },
					new SelectListItem() { Text = "No", Value = "0" }
				})
                @Html.ValidationMessageFor(model => model.volsActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
