@using CCSVolunteerMVC.Models
@using CCSVolunteerMVC.ViewModels
@model CCSVolunteerMVC.Models.VolunteerGroup
@{
	ViewBag.Title = "Details of group";
	var counter = Request["NumberOfPeople"];
	var pin = Request["Pin"];
	int numberOfPeople;
	if (int.TryParse(counter, out numberOfPeople))
	{
		if (numberOfPeople > 0)
		{
			if (App.TimeInTimeOut == "In")
			{
				for (int i = 0; i < numberOfPeople; i++)
				{
					User tempUser = new User(1, Model.volunteerGroupID, 1, 3, Model.volGrpName);
					CurrentUsers.AddUser(tempUser);
				}
				Response.Redirect("~/MessageScreens/CompleteSignIn");
			}else
			{
				List<User> tempUsers = new List<User>(CurrentUsers.Users);

				foreach (var item in tempUsers)
				{
					int tempCheck = CurrentUsers.Users.Where(i => i.GroupName == item.GroupName).Count();
					if (numberOfPeople > 0)
					{
						CurrentUsers.UpdateGroupTimeOut(item.GroupId, item.GroupName);
						numberOfPeople--;
					}
					else if (numberOfPeople == 0)
					{
						break;
					}
				}
				Response.Redirect("~/MessageScreens/CompleteSignOut");
			}
		}
		else if(numberOfPeople <= 0)
		{
			Response.Redirect("~/MessageScreens/NoRecords");
		}
	}
}

<h2>Volunteer Group</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.volGrpName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.volGrpName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.volGrpUserName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.volGrpUserName)
		</dd>
	</dl>
</div>
<form action="" method="post">
	<div class="form-group row">
		<div class="col-md-10">
			<input name="NumberOfPeople" class="form-control" type="number" value="" id="groupPin" placeholder="Number of People" />
		</div>
		<div class="col-md-10">
			<input class="btn btn-primary btn-lg" name="GroupPin" type="submit" id="GroupPin" formmethod="POST" title="GroupPin" value="Submit">
			<a href="@Url.Action("GroupClock", "Kiosk", new { alphabetChar = "A"})">&nbspBack to Group Listing</a>
		</div>
	</div>
</form>
