@model CCSVolunteerMVC.Models.Volunteer

@{
	ViewBag.Title = "New Volunteer";
	App.TimeInTimeOut = "In";
	if (App.Admin != 3)
	{
		Response.Redirect("~/UserLogIn/Index");
	}
}

<h4 class="jumbotron text-center">A Pin will be assigned to you with our system
	<br /> MMDDYY(example January 1, 1901 = 010101)</h4>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Volunteer</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.volFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.volFirstName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.volFirstName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.volLastName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.volLastName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.volLastName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.volDOB, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.volDOB, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.volDOB, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.volGender, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.volGender, new List<SelectListItem> {
					new SelectListItem() { Text = "Female", Value = "Female" },
					new SelectListItem() { Text = "Male", Value = "Male" },
					new SelectListItem() { Text = "Other", Value = "Other" }
				})
				@Html.ValidationMessageFor(model => model.volGender, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ethnicityID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ethnicityID, new List<SelectListItem> {
					new SelectListItem() { Text = "White", Value = "2" },
					new SelectListItem() { Text = "Other", Value = "1" },
					new SelectListItem() { Text = "Black or African American", Value = "3" },
					new SelectListItem() { Text = "Asian", Value = "4" },
					new SelectListItem() { Text = "Hispanic", Value = "5" },
					new SelectListItem() { Text = "American Indian or Alaskan Native", Value = "6" },
					new SelectListItem() { Text = "Native hawaiian or Pacific Islander", Value = "7" },
				})
				@Html.ValidationMessageFor(model => model.ethnicityID, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
