@model CCSVolunteerMVC.ViewModels.VolunteerViewModel
@using CCSVolunteerMVC.Models;
@using CCSVolunteerMVC.DAL;
@{
	ViewBag.Title = "Test Index";
	///This screen will display a list of volunteers that match the given pin
	///There is a select option that the user will push to select their information
	var password = Request["Password"];
	List<Volunteer> volunteerCollection = Model.Volunteer.Where(v => v.volPin == password).ToList();
	List<Ethnicity> EthnicityCollection = Model.Ethnicity.ToList();
	List<BooleanTitleMatch> isActive = Model.IsActive.ToList();
	List<BooleanTitleMatch> isClient = Model.IsClient.ToList();
	List<BooleanTitleMatch> courtOrdered = Model.CourtOrdered.ToList();
	var id = volunteerCollection.Select(v => v.volunteerID);
	List<Volunteer> tempCollection = new List<Volunteer>();
	DatabaseHelper dbHelper = new DatabaseHelper();

	foreach (var item in id)
	{
		HoursWorked tempVolunteer = dbHelper.FindTodayEntryOfVolunteer(volunteerCollection.Where(v => v.volunteerID == item).First());
		if (tempVolunteer != null)
		{
			tempCollection.Add(Model.Volunteer.Where(v => v.volunteerID == item).Single());
		}
	}
	if (App.TimeInTimeOut == "Out")
	{
		volunteerCollection = tempCollection;
	}
	if (App.Admin != 3)
	{
		Response.Redirect("~/UserLogIn/Index");
	}
	if (volunteerCollection.Count == 0) {
		Response.Redirect("~/MessageScreens/NoRecords");
	}
}

<h2 class="jumbotron text-center">Volunteers</h2>
<table class="table">
	<tr>
		<th style="font-size: 36px;">
			@Html.DisplayNameFor(model => model.Volunteer.ElementAt(0).volFirstName)
		</th>
		<th style="font-size: 36px;">
			@Html.DisplayNameFor(model => model.Volunteer.ElementAt(0).volLastName)
		</th>
		
		<th></th>
	</tr>

	@for (int i = 0; i < volunteerCollection.Count; i++)
	{
		<tr>
			<td style="font-size: 36px;">
				@Html.DisplayFor(modelItem => volunteerCollection.ElementAt(i).volFirstName)
			</td>
			<td style="font-size: 36px;">
				@Html.DisplayFor(modelItem => volunteerCollection.ElementAt(i).volLastName)
			</td>
			<td>
				<button  class="btn btn-block btn-lg btn-primary" onclick="location.href='@Url.Action("VolunteerDetails", "Kiosk", new { id = volunteerCollection.ElementAt(i).volunteerID })'" >Select</button>
			</td>
		</tr>
	}

</table>